{% extends "OberonAssignmentBundle::layout.html.twig" %}

{% block title "Dichtstbijzijnde brouwerij" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Dichtstbijzijnde brouwerij</h1>
    {{ zipcode }}
    {{ brewery.name }}
{% endblock %}