{% extends "OberonAssignmentBundle::layout.html.twig" %}

{% block title "Kies een postcode" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Kies een postcode</h1>
    
{% endblock %}
